section.sf-container
    display: flex
    flex-direction: column
    & .sf-banner-block01
        padding-top: 30px
        background-image: url(../img/bg-familia-web.png)
        height: 660px
        background-repeat: no-repeat
        +media-m()
            background-image: none
            height: auto
        & .block01-title h1
            text-align: left
            +media-s()
                text-align: center
        & .separatingline 
            margin-inline-start: initial
            +media-s()
                margin-inline-start: auto
        & .block01-subtitle
            text-align: left
            width: 170px
            +media-s()
                text-align: center
                width: auto
                padding: 0 10%
    & .sf-banner-block02 img 
        +media-s()
            width: 100%

section.banner
    & .sf-quehacemos
        background : $color-white
        +media-s()
            background: $color-gray-servife-100