section.sf-container
    display: flex
    flex-direction: column
    & .sf-banner-block01
        padding-top: 30px
        background-image: url(../img/bg-familia-web.png)
        height: 660px
        +media-m()
            background-image: none
            height: auto

        background-repeat: no-repeat
        & .block01-title h1
            text-align: left
            +media-s()
                text-align: center
        & .block01-line
            padding: 15px 0
            display: flex
            flex-direction: row
            justify-content: left
            +media-s()
                justify-content: center
                padding: 10px 0
        & .block01-subtitle
            text-align: left
            width: 170px
            +media-s()
                text-align: center
                width: auto
                padding: 0 10%
    & .sf-banner-block02 img 
        +media-s() 
            width: 100%