footer
    background-color: $color-primary-blue
    background-image: url(../img/bgfooter_desktop.png)
    background-repeat: repeat-x
    background-position: center
    padding: 80px 0 50px 0
    +media-s() 
        background-image: url(../img/bgfooter_movil.png)
        padding: 50px 0
    & .sf-top-footer
        font-size: 36px
        font-family: $font-family-lato-regular
        color: $color-white
        text-align: center
        & span 
            color: $color-primary-orange
        +media-s()
            font-size: 26px
            margin: 0 10%
    & .sf-line-footer
        display: flex
        flex-direction: row
        justify-content: center
        margin: 30px 0 40px
        +media-s() 
            margin: 4px 0 16px
    & .sf-middle-footer
        color: $color-white
        font-size: 20px
        width: 350px 
        margin: 0 auto
        display: flex
        flex-direction: column
        & .middle-footer-data
            display: flex
            flex-direction: row 
            & .m-f-d-title
                font-family: $font-family-lato-light
                width: 35%
            & .m-f-d-description
                font-family: $font-family-lato-regular
                & a
                & a:hover
                & a:focus
                & a:active
                    color: $color-white
                    text-decoration: underline
        +media-s()
            font-size: 16px
            padding: 0 10%
            width: 80%
    & .sf-bottom-footer
        font-family: $font-family-lato-light
        color: $color-white
        font-size: 14px
        text-align: center
        margin-top: 10%
        +media-s()
            margin-top: 20%
            font-size: 12px