footer
    background: $color-primary-blue
    height : 400px 
    .sf-top-footer
        font-size: 28px
        font-family: $font-family-lato-regular
        color: $color-white
        text-align: center
        span 
            color: $color-primary-orange
    .sf-middle-footer
        margin: 4px 0 
        & div
            font-family: $font-family-lato-regular
            & span
                font-family: $font-family-lato-light
                width: 400px
                background: green