.input > input
    color : $color-gray-450
    border: 1px solid $color-primary-lightorange
.select > select
    /*color : $color-gray-450*/
    border: 1px solid $color-primary-lightorange
    padding: 0 10px 0 10px
    -webkit-appearance: menulist
    -moz-appearance: menulist

.textarea > textarea
    /*color : $color-gray-450*/
    border: 1px solid $color-primary-lightorange
    width: calc(100% - 30px)
div.img_cards 
    text-align: center
    +media-m()
        margin-top: 4px
    +media-s()
        margin-top: 4px
    img 
        max-width: 30px 


.sf-form
    padding: 20px 0px 20px 0px
    width: 365px
    background: $color-white
    margin: 0 auto
    form 
        width: 100%
        .form-top
            width: 90%
            margin: auto
            .content-text
                width: 90%
                margin: auto
                +media-m()
                    width: 80%
                +media-s()
                    width: 80%
            label.error, label.error 
                color: red
                font-style: italic
        .form-bottom
            width: 90%
            margin: auto
        h4
            font-family: $font-family-ubuntu
            font-size: 20px
            line-height: 27px
            color: $color-white
            text-align: center
            font-weight: bold
            +media-m()
                color: $color-gray-600
            +media-s()
                color: $color-gray-600
            strong
                color : $color-primary !important
        p
            font-family: $font-family-ubuntu
            font-weight: 500
            font-size: 13px
            line-height: 20px
            text-align: center
            color: $color-white
            margin: 0
            +media-m()
                color: $color-gray-600
            +media-s()
                color: $color-gray-600
        div.sf_btn
            text-align: center
            +media-s()
                margin: 0 0 15px 0
        +media-m()
            height: 100%
        +media-s()
            height: 100%
        & .form-top div.input label 
            position: absolute
            right : 0
            margin: 12px 12px 0 0
        & .form-top div.select label
            position: absolute
            right : 0
            margin: 12px 12px 0 0
            font-size :  14px
        & .form-top div.textarea label
            position: absolute
            right : 0
            bottom : 0
            font-size :  14px
            margin: 0 12px 12px 0
    +media-s()
        width: auto