.content
    max-width: $extra-large
    margin: auto
    +media-xl()
        margin: auto 4%
    +media-m()
        margin: auto 4%
    +media-s()
        margin: 0 4%
    
.separatingline
    background: $color-primary-orange
    height: 5px
    width: 64px
    margin: 0 auto

.show-mobile
    display: none
    +media-m()
        display: flex
    +media-s()
        display: flex
.hide-mobile
    +media-m()
        display: none
    +media-s()
        display: none



