body 
    font-family: $font-family-lato-light

h1
    color: $color-primary-blue
    font-family: $font-family-lato-regular
    font-size: 36px
    span
        color: $color-primary-orange
    +media-s()
        font-size: 26px
h2
    color: $color-primary-blue
    font-family: $font-family-lato-regular
    font-size: 32px
    span
        color: $color-primary-orange
    +media-s()
        font-size: 22px
h3 
    color: $color-primary-blue
    font-family: $font-family-lato-regular
    font-size: 18px
    span
        color: $color-primary-orange
h4 
    color: $color-primary-blue
    font-family: $font-family-lato-regular
    font-size: 14px
    span
        color: $color-primary-orange


section.sf-container
    display: flex
    background: $color-white
    &.p66
        padding: 66px 0px;
    &.--gray
        background: $color-gray-servife-100   !important
    +media-s()
        flex-direction: column;

.content
    max-width: $extra-large
    margin: auto
    +media-xl()
        margin: auto 4%
    +media-m()
        margin: auto 4%
    +media-s()
        margin: 0 4%
    .ft-image
        width: 100%
    
    
.separatingline
    background: $color-primary-orange
    border-style: none
    height: 5px
    width: 64px

.show-mobile
    display: none
    +media-m()
        display: flex
    +media-s()
        display: flex
.hide-mobile
    +media-m()
        display: none
    +media-s()
        display: none

.sf-container-ul 
    justify-content: flex-start
    flex-direction: row
    overflow-x: auto

ul.sf-content-item
    display: flex;
    li
        list-style: none
        padding: 20px

ul.sf-content-list
    &.--right
        text-align: right 
    li
        list-style: none
        padding: 8px 0px


