h1
    font-family: $font-family-lato-regular
    font-size: 36px
    +media-s()
        font-size: 26px

h3
    font-family: $font-family-lato-regular
    font-size: 28px
    +media-s()
        font-size: 18px

.content
    max-width: $extra-large
    margin: auto
    +media-xl()
        margin: auto 4%
    +media-m()
        margin: auto 4%
    +media-s()
        margin: 0 4%
    
.separatingline
    background: $color-primary-orange
    height: 5px
    width: 64px

.show-mobile
    display: none
    +media-m()
        display: flex
    +media-s()
        display: flex
.hide-mobile
    +media-m()
        display: none
    +media-s()
        display: none



