// Families!
$font-family-awesome = "FontAwesome"
$font-family-mono = monospace

//font ubuntu
$font-family-ubuntu = 'Ubuntu', sans-serif
$font-family-ubuntu-medium = "UbuntuMedium"
$font-family-ubuntu-regular = "UbuntuRegular"
$font-family-ubuntu-light = "UbuntuLight"
$font-family-ubuntu-bold = "UbuntuBold"

//font lato
$font-family-lato-regular = "LatoRegular"
$font-family-lato-light = "LatoLight"
$font-family-lato-bold = "LatoBold"

// Font sizes!
$font-size-xl = 1.25rem           // 20px
$font-size-l = 1.125rem           // 18px
$font-size-m = 16px               // Assumes the browser default, typically `16px`
$font-size-s = .875rem            // 14px
$font-size-xs = .75rem            // 12px