footer section.sf-top-footer {
  background: $color-secundary-light;
  font-family: UbuntuRegular;
  text-align: center;
  font-size: 22px;
  color: $color-white;
  padding: 27px 0;
}
footer section.sf-bottom-footer {
  background-image: url("../img/bg_footer.png");
  height: 395px;
  padding-left: 10px;
  padding-right: 10px;
}
