section.sf-room
    background-image url('../img/bg_header.png')
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 530px;
    +media-s()
        height: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    .content
        display: flex
        +media-s()
            height auto
            display: block
            padding 0px
    .sf-description  
        width: 66.6%
        +media-l()
            width: 50%
        +media-s()
            width: 100%
        h2
            font-family: 'UbuntuBold'
            color: $color-secundary
            font-size: 30px
            padding-top: 52px
            font-weight: bold
            +media-s()
                padding: 24px 32px;
                font-size: 24px
    .sf-form
        background: $color-secundary-light
        opacity : 0.9
        width: 33%
        height 530px
        +media-l()
            width: 50%
        +media-s()
            width: 100%
            height auto
        form 
            width: 80%
            margin: auto
            h4
                font-family: 'UbuntuBold'
                font-size: 20px
                line-height: 22px
                color: $color-white
                padding-top: 40px
                text-align: center
                font-weight: bold
                strong
                    color : $color-primary !important
            p
                font-family: 'UbuntuMedium';
                font-weight: 500
                font-size: 13px
                line-height: 30px
                text-align: center
                color: $color-white
                margin: 0px 0px 16px;
