body 
    font-family: 'UbuntuRegular'
strong 
    font-family: 'UbuntuBold'
.content
    overflow: hidden
    max-width: $extra-large
    margin: auto
    box-sizing: content-box
    +media-s()
        margin: 0 4%;

section
    font-size: 16px

section.sf-title
    justify-content: center
    min-height: 110px
    background: $color-gray-100
    align-items: center
    display: flex
    p
        text-align: center
        font-size: 30px
        color: $color-primary
        margin: 0
    +media-m()
        display: block
        line-height: 30px
        min-height: auto
        p
            padding: 24px 32px
            font-size: 22px


/*
.sf_btn
    text-align: center

._btn, .btn-bar,  .btn-content-solid, a {
    font-weight: 400;
    white-space: nowrap;
    user-select: none;
    border: 2px solid transparent;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    min-height: 40px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

*/