body 
    font-family: 'UbuntuRegular'
strong 
    font-family: 'UbuntuBold'
.content
    overflow: hidden
    max-width: $extra-large
    margin: auto
    box-sizing: content-box
    +media-s()
        margin: 0 4%;

section
    font-size: 16px

section.sf-title
    justify-content: center
    min-height: 110px
    background: $color-gray-100 //$color-white
    align-items: center
    display: flex
    p
        text-align: center
        font-size: 30px
        color: $color-primary
        margin: 0
    +media-m()
        display: block
        line-height: 30px
        min-height: auto
        
        p
            padding: 24px 32px
            font-size: 22px
    +media-s()
        background: $color-white
        p
            font-size: 30px
            padding: 40px 0;

section.st-container-img-banner
    img 
        width: 100%

.show-mobile
    display: none
    +media-s()
        display: flex
.hide-mobile
    +media-s()
        display: none