div.popup
    width: 400px
    height: auto
    position: fixed
    background-image: url(../img/bg_popup.png)
    background-repeat: repeat
    bottom: 0
    z-index: 2
    padding: 14px 20px
    & .popup_btn_close
        position: absolute
        top: 0 
        right: 0 
        padding: 5px 10px 0 0
        color: $color-white
        font-size: 20px
        font-family: $font-family-ubuntu-regular
        z-index: 3
        cursor: pointer
    & .popup_title
        color: $color-blue
        font-size: 22px
        padding-left: 6px
        +media-s()
            font-size: 20px
    & .popup_description
        display: flex
        flex-direction: row
        justify-content: left
        margin: 7px 10px 5px 10px
        & .desc_text
            color: $color-white
            font-family: $font-family-ubuntu-regular
            width: 100%
            padding: 10px 0 0 10px
            font-size: 18px
            +media-s()
                font-size: 16px
    +media-s()
        width: auto 