section.sf-container-proyectos
    background: $color-primary
    div.sf-container-flex-proyectos
        display: flex
        flex-direction: column
        margin: 40px 0
        div.sf-content-titles-proyectos 
            color: $color-white
            text-align: center
            margin : 0 0 25px 0
            div.sf-title-proyectos
                font-family: UbuntuMedium
                font-size: 44px 
                label
                    font-family: UbuntuBold
                +media-s()
                    font-size: 35px
            div.sf-subtitle-proyectos
                font-family: UbuntuMedium
                font-size: 26px 
                label
                    font-family: UbuntuLight
                +media-s()
                    font-size: 22px
        div.sf-container-pictures-proyectos
            display: flex
            justify-content: center
            +media-s()
                flex-direction: column
            div.sf-container-pictures-tiny
                display: flex
                flex-flow: row wrap
                justify-content: flex-start
                width: 100%;
                +media-s()
                    justify-content: flex-start
                div.sf-content-pictures-tiny
                    display: flex;
                    flex-direction: column
                    margin: 0 5% 8px 1%;
                    width: 150px;
                    +media-s()
                        width: 100px;   
                        margin: 0px 0 3% 2%
                    div.sf-picture-tiny
                        img 
                            width : 100%
                        img:hover 
                            outline: 4px solid $color-white
                        img:focus
                            outline: 4px solid $color-white
                    div.sf-title-picture-tiny
                        font-family: UbuntuBold
                        font-size: 14px 
                        color: $color-white
                        text-align: center
                        padding: 8px 0
                        +media-s()
                            font-size: 16px 
            div.sf-container-picture-big
                width 100%
                img
                    width: 100%
                    +media-s()
                        height : auto


section.sf-container-msj-proyectos
    background: $color-white
    margin: 20px 0
    div.sf-container-flex-msj-proyectos
        display: flex
        flex-direction: row
        justify-content: center
        +media-s()
            flex-direction: column
        div.sf-msj-proyectos
            font-family : UbuntuRegular
            text-align : center
            font-size: 22px
            color: $color-primary
            align-self: center
            +media-m()
                font-size: 22px
                align-self: center
            +media-s()
                font-size: 22px
            label 
                font-weight: bold
        div.sf-msj-button
            margin: 0 0 0 30px
            +media-m()
                margin: 10px 0 0 0
                align-self: center
            +media-s()
                text-align: center
                margin: 20px 0 0 0








ul.list-categories
    list-style: none
    padding: 0
    margin: 0 0 0 10px
    overflow hidden
    width: 120px;
    li
        // height 80px
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        // border-top: solid 2px $color-gray-350
        border-left: solid 4px $color-gray-350
        border-right: solid 1px $color-gray-350
        a
            color : red
            padding: 15px 0
            display: block
            border-top: solid 1px $color-gray-350
            // border-left: solid 4px;
            &:hover
                color : green
        //outline: 2px solid $color-gray-350  $color-gray-600
        & i
            align-self: center
            font-size: 2em
            margin-bottom: 8px
        & div
            font-family: $font-family-ubuntu-regular
            font-size: 10px
        &:last-child
                border-bottom: solid 1px $color-gray-350

        
    /*li:hover
        border-left: solid 4px $color-primary
    li:focus
        border-left: solid 4px $color-primary
        outline: 0
    li:active 
        //outline: 4px solid $color-primary
        border-left: solid -4px $color-primary
*/
