section.sf-container-servicios
    background-color: #F5F5F5
    div.sf-servicios
        display: flex
        flex-direction: row
        +media-s()
            display: flex
            flex-direction: column
            padding: 40px 0
        div.sf-data-servicios
            display: flex   
            flex-direction: column
            flex-grow: 1;
            align-self: center;
            div.sf-especializados
                margin: 0
                +media-s()  
                    margin: 0 10%
                div.sf-title-especializacion
                    color: $color-black
                    font-size: 20px
                    +media-s()
                        font-size: 28px
                    p
                        margin: 0 0 10px 0
                div.sf-list-especializacion
                    ul.list-especializacion
                        list-style: none
                        margin: 0
                        padding: 0
                        li
                            background-image: url(../img/dot.png)
                            background-repeat: no-repeat
                            background-position-y: center
                            background-size: 6px
                            padding: 4px 0 4px 12px
                            font-family: UbuntuRegular
                            font-size: 16px
                            color: #00466f
                            +media-s()
                                font-size: 18px
            div.sf-complementarios
                margin: 10% 0 0 0
                +media-s()
                    margin: 20px 10% 0 10%
                div.sf-title-complementarios
                    color: $color-black
                    font-size: 20px
                    +media-s()
                        font-size: 28px
                    p
                        margin: 0 0 10px 0
                div.sf-list-complementarios
                    ul.list-complementarios
                        list-style: none
                        margin: 0
                        padding: 0
                        li
                            background-image: url(../img/dot.png);
                            background-repeat: no-repeat
                            background-position-y: center
                            background-size: 6px
                            padding: 4px 0 4px 12px;
                            font-family: UbuntuRegular
                            font-size: 16px
                            color: #00466f
                            +media-s()
                                font-size: 18px
        div.sf-img-servicios
            width: 792px;
            height: 488px;
            flex-grow: 2;
            +media-s()
                display: none
            img
                width: 100%;
                height: 100%;

section
    section.sf-trabaja-nosotros
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 456px;
        +media-s()
            flex-direction: column
            height: auto
        div.sf-content-data-nosotros
            align-self: center;
            +media-s()
                order: 1
                margin: 0 10%;
            div.sf-title-data-nosotros
                font-family: UbuntuRegular
                font-size: 32px;
                color: $color-blue
                margin: 30px 0 0 0
                +media-s()
                    font-size: 35px
                    margin: 0
                p
                    text-align: left
                    margin: 40px 0 20px 0
            div.sf-list-data-nosotros
                ul.list-nosotros
                    list-style: none
                    li
                        background-image: url(../img/arrow.png);
                        background-repeat: no-repeat;
                        background-position-y: center;
                        background-size: 22px;
                        font-size: 16px;
                        padding: 10px 0 10px 28px;
                        +media-s()
                            font-size: 16px
                            padding: 10px 0 10px 28px;
                +media-s()
                    margin-bottom: 30px;
                    padding: 0 5% 0 0
            div.sf-button-data-contactenos
                margin : 20px 0 0 0
                +media-s()
                    display: none
        div.sf-content-bgmovil-nosotros
            margin: 0 6% 0 0;
            +media-s()
                order: 2
            img
                width: 100%