section.sf-container-servicios
    background-color: #F5F5F5
    div.sf-servicios
        display: flex
        flex-direction: row
        justify-content: space-evenly;
        +media-s()
            display: flex
            flex-direction: column
            padding: 40px 0
        div.sf-data-servicios
            display: flex   
            flex-direction: column
            div.sf-especializados
                margin: 10% 0 0 0;
                +media-s()  
                    margin: 0 10%;
                div.sf-title-especializacion
                    color: $color-black
                    font-size: 20px
                    +media-s()
                        font-size: 28px
                    p
                        margin: 0 0 10px 0;
                div.sf-list-especializacion
                    ul.list-especializacion
                        list-style: none
                        margin: 0
                        padding: 0
                        li
                            background-image: url(../img/dot.png);
                            background-repeat: no-repeat;
                            background-position-y: center;
                            background-size: 6px;
                            padding: 4px 0 4px 12px;
                            font-family: UbuntuRegular;
                            font-size: 16px;
                            color: #00466f;
                            +media-s()
                                font-size: 18px;
            div.sf-complementarios
                margin: 10% 0 0 0;
                +media-s()
                    margin: 20px 10% 0 10%;
                div.sf-title-complementarios
                    color: $color-black
                    font-size: 20px
                    +media-s()
                        font-size: 28px
                    p
                        margin: 0 0 10px 0;
                div.sf-list-complementarios
                    ul.list-complementarios
                        list-style: none
                        margin: 0
                        padding: 0
                        li
                            background-image: url(../img/dot.png);
                            background-repeat: no-repeat;
                            background-position-y: center;
                            background-size: 6px;
                            padding: 4px 0 4px 12px;
                            font-family: UbuntuRegular;
                            font-size: 16px;
                            color: #00466f;
                            +media-s()
                                font-size: 18px;
        div.sf-img-servicios
            background-image: url(../img/bg_servicios.png);
            width: 792px;
            height 488px;
            +media-s()
                display: none

/*section.sf-servicios
    background-color: #F5F5F5
    +media-s()
        flex-direction: column
        display: flex
        padding: 40px 0
    div.sf-data-servicios
        display: flex   
        flex-direction: column
        div.sf-especializados
            +media-s()
                margin: 0 10%;
            div.sf-title-especializacion
                color: $color-black
                +media-s()
                    font-size: 28px
                p
                    margin: 0 0 20px 0;
            div.sf-list-especializacion
                ul.list-especializacion
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        background-image: url(../img/dot.png);
                        background-repeat: no-repeat;
                        background-position-y: center;
                        background-size: 6px;
                        padding: 0 0 0 12px;
                        font-family: UbuntuRegular;
                        font-size: 18px;
                        color: #00466f;
        div.sf-complementarios
            +media-s()
                margin: 20px 10% 0 10%;
            div.sf-title-complementarios
                color: $color-black
                +media-s()
                    font-size: 28px
                p
                    margin: 0 0 20px 0;
            div.sf-list-complementarios
                ul.list-complementarios
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        background-image: url(../img/dot.png);
                        background-repeat: no-repeat;
                        background-position-y: center;
                        background-size: 6px;
                        padding: 0 0 0 12px;
                        font-family: UbuntuRegular;
                        font-size: 18px;
                        color: #00466f;
    div.sf-img-servicios
        +media-s()
            display: none
*/

section
    section.sf-trabaja-nosotros
        display: flex
        flex-direction: row
        justify-content: center
        height: 456px
        +media-s()
            flex-direction: column
            height: auto
        div.sf-content-data-nosotros
            margin-left: 5%
            +media-s()
                order: 1
                margin: 0 10%;
            div.sf-title-data-nosotros
                font-family: UbuntuRegular
                font-size: 32px;
                color: $color-blue
                margin: 30px 0 0 0
                +media-s()
                    font-size: 35px
                    margin: 0
                p
                    text-align: left
                    margin: 40px 0 20px 0;
            div.sf-list-data-nosotros
                ul.list-nosotros
                    list-style: none
                    li
                        font-size: 16px
                        padding: 10px 0
                        +media-s()
                            font-size: 16px;
                            padding: 10px 0;
                +media-s()
                    margin-bottom: 30px;
            div.sf-button-data-contactenos
                margin : 20px 0 0 0
                +media-s()
                    display: none
        div.sf-content-bgmovil-nosotros
            background-image: url(../img/bg_trabaja.png)
            background-repeat: no-repeat
            width: 456px
            height: 456px
            margin: 0 0 0 -20%;
            +media-s()
                order: 2
                background-image: url(../img/bg_trabaja.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;