// Brand!
$color-primary = #00AD91
$color-primary-dark = #018E77
$color-primary-light = #00CAA9
$color-primary-soft = #00BB9D


$color-segunday = #1F3864

// Grays!
$color-dark = #1f2123
$color-gray-700 = #6a6a6a
$color-gray-400 = #d4d4d4
$color-gray-300 = #e0e1e1
$color-gray-200 = #ebebeb

$color-gray-100 = #F8F8F8
$color-white = #ffffff

// Miscellaneous!
$color-default-action = #016fe5
$color-whatsapp = #1EBEA5
$color-green = #6AC259 // valid inputs
$color-yellow = #FFF500 // color promo