// Brand!
$color-primary = green
$color-primary-dark = #B30000
$color-primary-light = #F93D3B
$color-primary-soft = #E73833

// Grays!
$color-dark = #1f2123
$color-gray-700 = #6a6a6a
$color-gray-400 = #d4d4d4
$color-gray-300 = #e0e1e1
$color-gray-200 = #ebebeb
$color-gray-100 = #f5f5f5
$color-white = #ffffff

// Miscellaneous!
$color-default-action = #016fe5
$color-whatsapp = #1EBEA5
$color-green = #6AC259 // valid inputs
$color-yellow = #FFF500 // color promo